<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nogada Sam World !</title>
    <link rel="stylesheet" href="css/bulma.min.css" />
</head>

<body>
    <nav class="navbar has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/"><img src="img/logo.png" /></a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                    Git
                </a>
                    <a class="navbar-item">
                    Documentation
                </a>
                </div>
            </div>
    </nav>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Spingboot & Kubernetes
                </h1>
                <h2 class="subtitle">
                    Manage properties & profiles of application.
                </h2>
            </div>
        </div>
    </section>
    <div class="box cta">
        <p class="has-text-centered">
            Describe the location of application property files and how to apply in kubernetes
        </p>
    </div>
    <section class="container">
        <div class="tile is-ancestor">
            <article class="tile is-4 is-child box has-background-white-bis">
                <p class="title">Externalized Configuration</p>
                <p>
                    Properties are considered in the following order<br> spring load from bottom to top, list loading override the previous loaded values
                </p>
                <div class="content is-size-6">
                    <ol>
                        <li>Command line agrguments</li>
                        <li>ServletConfig init parameters</li>
                        <li>ServletContext init parameters</li>
                        <li>JNDI attributes from java:comp/env</li>
                        <li>OS environment variables</li>
                        <li>Profile specific application-{profile}.properties(yaml) outside of jar</li>
                        <li>Profile specific application-{profile}.properties(yaml) inside of jar</li>
                        <li>Profile specific application.properties(yaml) outside of jar</li>
                        <li>Profile specific application.properties(yaml) inside of jar</li>
                        <li>@PropertySource annotations on your @Configuration classes.</li>
                    </ol>
                </div>
                <p class="title">Location of application files</p>
                <p>
                    first configuration is applied
                </p>
                <div class="content  is-size-6">
                    <ol>
                        <li>A /config subdirectory of the current directory</li>
                        <li>The current directory</li>
                        <li>A classpath /config package</li>
                        <li>A classpath root</li>
                    </ol>
                </div>


            </article>
            <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">Case Study</p>
                    <p>Order of properties : application-{profile}.yaml/properties > application.yaml/properties</p>
                    <table class="table is-bordered  is-size-6">
                        <thead>
                            <th>Type</th>
                            <th>/config</th>
                            <th>/resource</th>
                            <th>Effective values</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>application.yaml</td>
                                <td>comkey01: config</td>
                                <td>comkey01: resource<br>comkey02: resource</td>
                                <td>comkey01:
                                    <b><span th:text="${appinfo.comkey01}"></span></b><br> comkey02: <b><span th:text="${appinfo.comkey02}"></span></b>
                                </td>
                            </tr>
                            <tr>
                                <td>(application.yaml)</td>
                                <td colspan="3">profilekey03: config</td>
                            </tr>
                            <tr>
                                <td rowspan="2">application-prd.yaml</td>
                                <td>profilekey03: configprofile</td>
                                <td>profilekey03: resprofile</td>
                                <td>profilekey03: <b><span th:text="${appinfo.profilekey03}"></span></b></td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>profilekey04: resprofile</td>
                                <td>profilekey04: <b><span th:text="${appinfo.profilekey04}"></span></b></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="tile is-child box">
                    <p class="title">Using Configmap of kubernetes</p>
                    <div class="content">
                        <ol>
                            <li> Locate common properties in resource, independant values of staging</li>
                            <li> locate specific properties in /config of project root, including staging dependant values</li>
                            <li> Use configmap to mound volumes(/config) in the same working dir of springoot</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>